{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
	<main class="container">
		<div class="row align-item-stretch">
			<div class="col-12 mb-4 d-flex justify-content-between align-items-center">
				<h1>Blog</h1>
				{% if is_granted('ROLE_USER') %}
					<a href="{{ path('post_create') }}" class="btn btn-primary">Publier</a>
				{% endif %}
			</div>
			{% for post in posts %}
				<div class="col-12 col-lg-4 col-xl-3 mb-4">
					<article class="card h-100">
						<a href="{{ path('post_read', {id: post.id}) }}">
							<img src="{{ asset('uploads/' ~ post.image) }}" alt="{{ post.title }}" class="card-img-top">
						</a>
						<div class="card-body flex-grow-1 d-flex flex-column">
							<a href="{{ path('post_read', {id: post.id}) }}" class="text-body text-decoration-none">
								<h2 class="h4">{{ post.title }}</h2>
							</a>
							<span class="text-muted small">Publié le {{ post.publishedAt|date('d/m/Y H:i') }} {{ post.user.nickname }}</span>
							<span class="text-muted small">Catégorie: {{ post.category.name }} - Tags: {{ post.tags|join(', ') }}</span>
							<p class="m-0 mt-2 flex-grow-1">
								{{ post.content|u.truncate(50, '...', false) }}
							</p>
							<a href="{{ path('post_read', {id: post.id}) }}" class="mt-2 text-decoration-none">En savoir plus</a>
						</div>
					</article>
				</div>
			{% endfor %}
			<div class="col-12">
				<nav aria-label="Page navigation">
					<ul class="pagination justify-content-center">
						{% if pagination.page > 1 %}
						<li class="page-item">
							<a href="{{ path('post_list', {page: pagination.page - 1}) }}" class="page-link" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						{% endif %}

						{% for p in pagination.range %}
							<li class="page-item {{ pagination.page == p ? 'active' }}"><a href="{{ path('post_list', {page: p}) }}" class="page-link">{{ p }}</a></li>
						{% endfor %}

						{% if pagination.page < pagination.pages %}
						<li class="page-item">
							<a href="{{ path('post_list', {page: pagination.page + 1}) }}" class="page-link" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</main>
{% endblock %}
