{% extends 'base.html.twig' %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block body %}
	<main class="container">
		<div class="row">
			<div class="col-12 col-lg-4 col-xl-3">
				<img class="mw-100" src="{{ asset('uploads/' ~ post.image) }}" alt="{{ post.title }}">
			</div>

			<div class="col-12 col-lg-8 col-xl-9">
				<h1>{{ post.title }}</h1>
				<span class="text-muted small">Publié le {{ post.publishedAt|date('d/m/Y H:i') }} {{ post.user.nickname }}</span>
				<p class="m-0 my-2">
					{{ post.content }}
				</p>
				{% if is_granted('POST_EDIT', post) %}
					<div class="d-flex justify-content-end gap-3">
						<a href="{{ path('post_update', {id: post.id}) }}" class="btn btn-outline-primary">Modifier</a>
						<form method="post" action="{{ path('post_delete', {id: post.id}) }}">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_post') }}">
							<button class="btn btn-outline-danger">Supprimer</button>
						</form>
					</div>
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}

